<!DOCTYPE html>
{% extends "common.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ catcategory.categoryname }}{% endblock title %}</title>
</head>
<body>
    {% block contents %}
    {% comment %} <h1>Products in {{ catcategory.categoryname }}</h1> {% endcomment %}
    <div style="padding-inline: 11.8em;padding-top: 5em;display:flex;flex-wrap:wrap;gap:60px;padding-bottom:3.5em">
        {% for product in products %}
        <a style="text-decoration:none" href="{% url "viewproduct" product.id %}">
            <div style="align-items: center;text-align:center">
                <div class="image">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 230px; height: 300px;">
                    {% comment %} <button class="quickview">Quick view</button> {% endcomment %}

                </div>
                <div>
                    <p style="color:rgb(98, 43, 64);font-weight: 700;padding-top:1.5em;line-height:0">{{ product.name }}</p>
                    <p style="color:rgb(77, 76, 76);font-weight: 200;padding-top:0em;line-height:1;">{{ product.describein1 }}</p>
                    <p style="font-weight: 500;color:black;line-height:0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                        <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
                      </svg>{{ product.price }}
                    </p>


                </div>
                
            </div>
        </a>         {% empty %}
            <p>No products found in this subcategory.</p>
        {% endfor %}
    </div>

    {% endblock contents %}
</body>
</html>
{% comment %} <!DOCTYPE html>
{% extends "common.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block contents %}
    <div  style="padding-inline: 10em;padding-top: 10em;display:flex;flex-wrap:wrap;gap:60px">
        {% for i in products %}
        <a href="{% url "viewproduct" i.id %}">
            <div style="text-align: center;">
                <img style="width:200px;height:250px" src="{{i.image.url}}" alt="">
                <p>{{i.name}}</p>
                <p>price</p> 
                
            </div>
    
        </a>
        {% endfor %}
    
    </div>
    {% endblock contents %}
</body>
</html> {% endcomment %}
<!-- productbycatcategory.html -->

